@font-face {
    font-family: "GmarketSansBold";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "NEXON Lv1 Gothic OTF";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #F4F3F0;
    color: #000;
    font-family: "NEXON Lv1 Gothic OTF";
}

button {
    font-family: "NEXON Lv1 Gothic OTF";
    font-size: 20px;
    width: 400px;
    height: 50px;
    padding: 5px;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    background-color: #fff;
    color: #000;
}

button:hover {
    text-decoration: underline;
}

.color {
    background-color: #EBDAAD;
    color: #fff;
}

#main_contents {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 100px;
}

#main_contents .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 600px;
    padding-bottom: 50px;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result h1 {
    font-size: 50px;
    font-family: "GmarketSansBold";
}

.result_img {
    width: 300px;
    height: 324px;
}

.result_img img {
    width: 100%;
    height: 100%;
}

.share {
    padding-bottom: 20px;
    margin-bottom: 50px;
    border-bottom: 3px solid #EBDAAD;
}

.share button {
    margin-bottom: 30px;
}

.facebook_share {
    background-color: #3b5998;
    color: #fff;
}

.kakao_share {
    background-color: #f1d900;
}

.buttons {
    padding-bottom: 50px;
    
    
}

.buttons h3 {
    padding-bottom: 20px;
}

.buttons button {
    margin-bottom: 30px;
    color: #000;
}

.weniv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weniv a {
    width: 100px;
}

.weniv img{
    width: 100%;
    height: auto;
}

.weniv p {
    padding-top: 20px;
    font-size: 10px;
    text-align: center;
    line-height: 1.5;
}